<% if session[:desig] == "Owner" %>
  <div id="<%= dom_id message %>" class= "w-75 w-xl-100 w-sm-100 py-2 mt-2 rounded border border-dark m-auto mt-auto" style="background-color: rgb(255,244,120)">
<% elsif session[:desig] == "Tenant" %>
  <div id="<%= dom_id message %>" class= "w-75 w-xl-100 w-sm-100 py-2 mt-2 rounded border border-dark m-auto mt-auto" style="background-color: rgb(200, 252, 151)">
<% elsif session[:desig] == "Security" %>
  <div id="<%= dom_id message %>" class= "w-75 w-xl-100 w-sm-100 py-2 mt-2 rounded border border-dark m-auto mt-auto" style="background-color: rgb(212, 227, 255)">
<% end %>
  <div class=" d-flex justify-content-center">
    <div style="width:400px">
  <p class="pt-5 pb-3">
    <strong>Date:</strong>
    <%= (message.created_at + 5*60*60 + 30*60).to_time.strftime('%B %e at %l:%M %p') %>
    <%= time_ago_in_words(message.created_at) %> ago
  </p>

  <p class="pb-3">
  <% if session[:desig] == "Owner" %>
    <% if message.from_desig == "Owner" %>
      <strong>To:</strong>
      <%= Tenant.find(message.to_id).name+" ( Tenant )" %>
    <% elsif message.to_desig == "owner" %>
      <strong>From:</strong>
      <%= Tenant.find(message.from_id).name+" ( Tenant )"  %>
    <% end %>
  <% elsif session[:desig] == "Tenant" %>
    <% if message.to_desig == "owner" %>
      <strong>To:</strong>
      <%= Owner.find(message.to_id).name+" ( Owner )"  %>
    <% elsif message.from_desig == "Owner" %>
      <strong>From:</strong>
      <%= Owner.find(message.from_id).name+" ( Owner )"  %>
    <% elsif message.from_desig == "Security" %>
      <strong>From:</strong>
      <%= Security.find(message.from_id).name+" ( Security )"  %>

    <% elsif message.to_desig == "security" %>
      <strong>From:</strong>
      <%= Security.find(message.to_id).name+" ( Security )"  %>
    <% end %>
  <% elsif session[:desig] == "Security" %>
    <strong>To:</strong>
    <%= Tenant.find(message.to_id).name %>
  <% end %>
  </p>

  <p class="pb-3" >
    <strong>Message:</strong>
    <%= message.message %>
  </p>

  <div class="d-flex justify-content-left pb-5">
    <p class="my-auto">
      <strong>
        Attachment :
      </strong>
    </p>
    <p class="my-auto mx-2">
      <% if message.image.attached? %>
        <%= image_tag  message.image, style: "width: 200px;display: block" %>
      <% else %> 
        No image
      <% end %>
    </p>
  </div>

</div>
</div>
  

</div>
