<%= form_with(scope: :session, url: login_create_path(@desig), method: :post) do |form| %>
  
    <% if params[:desig] == "owner" %>
      <div class="text-center align-items-center border border-dark ", style=" background-color: rgb(255,244,120); ">
    <% elsif params[:desig] == "tenant" %>
      <div class="text-center align-items-center border border-dark", style="background-color: rgb(200, 252, 151);">
    <% elsif params[:desig] == "security" %>
      <div class="text-center align-items-center border border-dark", style="background-color: rgb(212, 227, 255);">
    <% elsif params[:desig] == "admin" %>
      <div class="text-center align-items-center border border-dark", style="background-color: rgb(255, 212, 213);">
    <% end %>
    
    <div class="form-group mt-5">
      <div class="d-flex justify-content-center"><strong><%= form.label :email, style: "display: block" , class:"control-label mb-2 col-sm-2"%></strong></div>
      <div class="d-flex justify-content-center"><%= form.text_field :email, placeholder: "Enter your email" , class:"form-control w-75 mb-2 border border-dark", :required => true %></div>
    </div>

    <div class="form-group mt-4 mb-4">
      <div class="d-flex justify-content-center"><strong><%= form.label :password, style: "display: block", class:"control-label col-sm-2 p-2" %></strong></div>
      <div class="d-flex justify-content-center"><%= form.password_field :password, placeholder: "Enter your password" , class:"form-control w-75 mb-2 border border-dark", :required => true%></div>
    </div>
  
    <% if params[:desig] == "owner" %>
      <div class="mb-4">
        <%= form.submit "Login", class:"btn btn-warning border border-dark" %>
      </div>
    <% elsif params[:desig] == "tenant" %>
      <div class="mb-4">
        <%= form.submit "Login", class:"btn btn-success border border-dark" %>
      </div>
    <% elsif params[:desig] == "security" %>
      <div class="mb-4">
        <%= form.submit "Login", class:"btn btn-primary border border-dark" %>
      </div>
    <% elsif params[:desig] == "admin" %>
      <div class="mb-4">
        <%= form.submit "Login", class:"btn btn-primary border border-dark" %>
      </div>
    <% end %>
  <% end %>
  </div>
  