<div class:"bg-warning">

  <%= form_with(model: owner) do |form| %>
    <% if owner.errors.any? %>
      <div style="color: red; background-color: white; postion:absolute">
        <h2><%= pluralize(owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

        <ul>
          <% owner.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="text-center border border-warning align-items-center border border-dark", style=" width :400px ;background-color: rgb(255,244,120); margin-left:720px;margin-top:50px;padding-left:35px;padding:20px; position:relative">
      <div class="form-group my-5">
        <strong><%= form.label :name, style: "display: block" , class:"control-label mb-2 col-sm-2" %></strong>
        <%= form.text_field :name, placeholder: "Enter your name", class:"form-control w-75 mb-2 border border-dark", :required => true %>
    <% owner.errors.each do |error| %>
      <% if error.full_message == "Name has already been taken" %>
        <div style="color:red"><%= error.full_message %></div>
      <% end %>
    <% end %>
    </div>

      <div class="form-group my-5">
        <strong><%= form.label :email, style: "display: block" , class:"control-label mb-2 col-sm-2"%></strong>
        <%= form.text_field :email, placeholder: "Enter your email", class:"form-control w-75 mb-2 border border-dark" %>
        
      </div>

      <div class="form-group my-5">
        <strong><%= form.label :password, style: "display: block" , class:"control-label col-sm-2 p-2" %></strong>
        <%= form.password_field :password, placeholder: "Choose a password", class:"form-control w-75 mb-2 border border-dark" %>
      </div>

      <div>
        <%= form.submit "Sign up", class:"btn btn-warning border border-dark" %>
      </div>
      </div>
  <% end %>
</div>
