
<%= form_with(model: security) do |form| %>

  <div class="text-center align-items-center border border-dark", style="background-color: rgb(212, 227, 255)">
    <div class="form-group my-3">
      <div class="d-flex justify-content-center"><strong><%= form.label :name, style: "display: block", class:"control-label col-sm-2 p-2" %></strong></div>
      <div class="d-flex justify-content-center"><%= form.text_field :name, placeholder: "Enter your name" , class:"form-control w-75 mb-2 border border-dark", :required => true%></div>
    </div>

    <div class="form-group my-3">
      <div class="d-flex justify-content-center"><strong><%= form.label :email, style: "display: block" , class:"control-label mb-2 col-sm-2"%></strong></div>
      <div class="d-flex justify-content-center"><%= form.text_field :email, placeholder: "Enter your email" , class:"form-control w-75 mb-2 border border-dark", :required => true %></div>
    </div>

  <div class="form-group mt-4 mb-3">
    <div class="d-flex justify-content-center">
      <strong>
        <%= form.label :password, style: "display: block" , class:"control-label col-sm-2 p-2" %>
      </strong>
    </div>
    <% if !logged_in? %>
      <div class="d-flex justify-content-center">
        <%= form.password_field :password, placeholder: "Choose a password", class:"form-control w-75 mb-2 border border-dark", :required => true, value:@security.password %>
      </div>  
    <% else %>
      <div class="d-flex justify-content-center">
        <%= form.password_field :password, placeholder: "Enter old password", class:"form-control w-75 mb-2 border border-dark", value:@security.password %>
      </div>
    <% end %>
  </div>

  <% if logged_in? %>
    <div class="form-group mt-4 mb-3">
      <div class="d-flex justify-content-center">
        <strong>
          <%= form.label "NewPassword", style: "display: block" , class:"control-label col-sm-2 p-2" %>
        </strong>
      </div>
      <div class="d-flex justify-content-center">
        <%= form.password_field :new_password, placeholder: "Choose a new password", class:"form-control w-75 mb-2 border border-dark", value:@security.password %>
      </div>
    </div>
  <% end %>

    <div>
      <% if !logged_in? %>
        <div class="mb-4">
          <%= form.submit "Sign up", class:"btn border border-dark text text-white", style:"background-color:#5085A5" %>
        </div>
      <% else %>
        <div class="mb-4">
          <%= form.submit "Edit", class:"btn border border-dark text text-white", style:"background-color: #5085A5" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</body>
