<div class="container">
  <% if session[:desig] == "Security" %>
    <div id="<%= dom_id security %>" class= "w-sm-100 w-xl-25 w-md-25 w-lg-25  p-2 mt-2 rounded border border-dark m-auto" style="background-color:rgb(212, 227, 255)" >
  <% elsif session[:desig] == "Admin" %>
  <div id="<%= dom_id security %>" class= "w-sm-100 w-xl-25 w-md-25 w-lg-25  p-2 mt-2 rounded border border-dark m-auto mb-2" style="background-color:rgb(255, 212, 213)" >
  <% end %>
    <p class="text-center">
      <% if security.name != nil %>
        <strong>Name:</strong>
        <%= security.name %>
      <% else %>
        Not yet signed up
      <% end %>
    </p>

    <p class="text-center">
      <strong>Email:</strong>
      <%= security.email %>
    </p>

    <p class="text-center">
      <strong>Apartment:</strong>
      <%= Apartment.find(security.apartment_id).name%>
    </p>

    <% if session[:desig] == "Admin" %>
      <center>
      <%= button_to "Delete", security, method: :delete , data: { turbo_confirm: "Are you sure?" }, class:"btn btn-dark text text-white border border-dark my-3"%>
      </center>
    <% end %>
  </div>
</div>
