<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top"  >
  <% if session[:desig] == "Owner" %>
    <strong>
      <%= link_to "AMS", root_path, class:"navbar-brand fs-1", style:"color: rgb(235, 171, 52);margin-left:40px" %>
    </strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex w-100 text-center align-items-center d-flex w-100 text-center justify-content-between" id="navbarNav">
      <ul class="w-50 my-auto">
        <div class="navbar-nav w-100 mb-lg-0 align-items-center list-inline-item justify-content-evenly">
          <li class="nav-item list-inline-item">
            <%= link_to "Home", "/home" , class: "btn btn-small btn-dark my-2 ", style:"color: rgb(235, 171, 52);border: 1px solid rgb(235, 171, 52)"  %> 
          </li>
          <li class="nav-item list-inline-item">
            <%= link_to "Edit profile", "/edit" , class: "btn btn-small btn-dark my-2 ", style:"color: rgb(235, 171, 52);border: 1px solid rgb(235, 171, 52)"  %> 
          </li>
          <li class="nav-item list-inline-item">
            <%= link_to "Add house", new_house_path, class: "btn btn-small btn-dark my-2", style:"color: rgb(235, 171, 52);border: 1px solid rgb(235, 171, 52)" %>
          </li>
      </div>
    </ul>
    <li class="nav-item list-inline-item">
      <%= button_to "Logout", logout_path, :method => "delete" , data: { turbo_confirm: "Are you sure?" }, class:"btn my-2", style:"margin-right:40px;background-color: rgb(235, 171, 52)" %>
    </li>
    </div>

  <% elsif session[:desig] == "Tenant" %>
    <strong>
      <%= link_to "AMS", root_path, class:"navbar-brand fs-1", style:"margin-left:40px; color: rgb(200, 252, 151)"%>
    </strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex w-100 text-center align-items-center d-flex w-100 text-center justify-content-between" id="navbarNav">
      <ul class="w-50 my-auto">
        <div class="navbar-nav w-50 mb-lg-0 align-items-center list-inline-item justify-content-evenly">
          <li class="nav-item list-inline-item">
            <%= link_to "Home", "/home" , class: "btn btn-small btn-dark my-2" ,style: "color: rgb(200, 252, 151); border: 1px solid rgb(200, 252, 151)" %> 
          </li>
          <li class="nav-item list-inline-item">
            <%= link_to "Edit profile", "/edit" , class: "btn btn-small btn-dark my-2" ,style: "color: rgb(200, 252, 151); border: 1px solid rgb(200, 252, 151)" %> 
          </li>
        </div>
      </ul>
      <li class="nav-item list-inline-item">
        <%= button_to "Logout", logout_path, :method => "delete" , data: { turbo_confirm: "Are you sure?" }, class:"btn my-2", style:"margin-right:40px;background-color: rgb(200, 252, 151)" %>
      </li>
    </div>

  <% elsif session[:desig] == "Security" %>
    <strong>
      <%= link_to "AMS", root_path, class:"navbar-brand fs-1", style:"margin-left:40px; color:rgb(212, 227, 255)"%>
    </strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex w-100 text-center align-items-center d-flex w-100 text-center justify-content-between" id="navbarNav">
      <ul class="w-50 my-auto">
        <div class="navbar-nav w-50 mb-lg-0 align-items-center list-inline-item justify-content-evenly">
          <li class="nav-item list-inline-item">
            <%= link_to "Home", "/home" , class: "btn btn-small btn-dark my-2 ", style:"color: rgb(212, 227, 255); border: 1px solid rgb(212, 227, 255)" %> 
          </li>
          <li class="nav-item list-inline-item">
            <%= link_to "Edit profile", "/edit" , class: "btn btn-small btn-dark my-2 ", style:"color: rgb(212, 227, 255); border: 1px solid rgb(212, 227, 255)"  %> 
          </li>
        </div>
      </ul>
      <li class="nav-item list-inline-item">
        <%= button_to "Logout", logout_path, :method => "delete" , data: { turbo_confirm: "Are you sure?" }, class:"btn my-2 ", style:"margin-right:40px;background-color: rgb(212, 227, 255)" %>
      </li>
    </div>
  <% elsif session[:desig] == "Admin" %>
    <strong>
      <%= link_to "AMS", root_path, class:"navbar-brand fs-1", style:"margin-left:40px; color:rgb(255, 212, 213)"%>
    </strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex w-100 text-center align-items-center d-flex w-100 text-center justify-content-between" id="navbarNav">
      <ul class="w-100 my-auto">
        <div class="navbar-nav w-75 mb-lg-0 align-items-center list-inline-item justify-content-evenly">
          <li class="nav-item list-inline-item">
            <%= link_to "Home", "/home" , class: "btn btn-small btn-dark my-2 ", style:"color: rgb(255, 212, 213); border: 1px solid rgb(255, 212, 213)" %> 
          </li>
          <li class="nav-item list-inline-item">
            <%= link_to "Edit profile", "/edit" , class: "btn btn-small btn-dark my-2 ", style:"color: rgb(255, 212, 213); border: 1px solid rgb(255, 212, 213)"  %> 
          </li>
          <li class="nav-item list-inline-item">
            <%= link_to "Add Security", add_security_path , class: "btn btn-small btn-dark my-2 ", style:"color: rgb(255, 212, 213); border: 1px solid rgb(255, 212, 213)"  %> 
          </li>
          <li class="nav-item list-inline-item">
            <%= link_to "Add Admin", new_admin_path(:type => "add") , class: "btn btn-small btn-dark my-2 ", style:"color: rgb(255, 212, 213); border: 1px solid rgb(255, 212, 213)"  %> 
          </li>
          <li class="nav-item list-inline-item">
            <%= link_to "Add house", new_house_path , class: "btn btn-small btn-dark my-2 ", style:"color: rgb(255, 212, 213); border: 1px solid rgb(255, 212, 213)"  %> 
          </li>
        </div>
      </ul>
      <li class="nav-item list-inline-item">
        <%= button_to "Logout", logout_path, :method => "delete" , data: { turbo_confirm: "Are you sure?" }, class:"btn my-2 ", style:"margin-right:40px;background-color: rgb(255, 212, 213)" %>
      </li>
    </div>
  <% else %>
    <strong>
      <%= link_to "Apartment Management System", root_path, class:"navbar-brand fs-2", style:"margin-left:40px;"%>
    </strong>
  <% end %>
</nav>